body{
    background: #ECC6E2;
    font-size: 16px;
    line-height: 1.5;
    font-family: Yellowtail', cursive;
}
header{
  background: #EFD1F0;
  position: fixed;
  width: 100%;
  padding: 10px 15px;

}
h1{

}
h2{

}
p{

}