body{
    background: #ECC6E2;
    font-size: 16px;
    line-height: 1.5;
    font-family: Yellowtail', cursive;
}
header{
  background-image: linear-gradient(#EFD1F0, #7A2941);
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  box-shadow: 0 1px 5px  0px gray ;

}
h1{
    padding-top:100px;
    padding-bottom: 50px;
    font-family: 'Rubik Bubbles', cursive;
    font-size: 32px;

}
h2{
    font-family:'Rubik Bubbles', cursive;

}
p{

}